body {
    font-size: 16px;
}
*{
    padding: 0;
    margin: 0;
}
header .login ul li{
    display: inline;
    padding: 0 10px; 
}
header .login {
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    font-size: 1em;
    padding: 2em auto;
}
header .login ul {
    padding: 0.7em 0.7em 0em 0.7em;
}
.login-user {
    border-right: solid 1px gray;
    
}
.register-user {
    border-left: solid 1px gray;
}
.nav-bar ul{
    
    list-style: none;
}
.nav-bar ul li {
    padding-left: 1em;
    padding-right: 2em;
    
}
nav {
    padding: 1em 10em;
}
.search {
    display: flex;
    justify-content: left;
}
select {
    
    padding-right: 2em;
    padding-bottom: 0.4em;
    
}
input {
    padding: 0 5em;
    padding-bottom: 0.4em;
}
.logo {
    display: flex;
    flex-direction: row;
}
.fa-shopping-cart{
    background-color: greenyellow;
    color: white;
    padding-top: 35px;
    padding-right: 10px;
    padding-left: 10px;
}
.names{
    color: greenyellow;
}
.search p {
    padding-top: 0.2em;
}
.details{
    font-size: 14px;
}
.shop-name {
    font-size: 22px;
}
.cart{
    padding-top: 25px;
}
.part-2nd {
    padding: 1em 10em;
}
.mid-2nd{
    color: aliceblue;
    background-image: url("https://images.unsplash.com/photo-1610452220299-5edf90b8a6ed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2000&q=80");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.right-2nd{
    padding-left: 5px;
    color: aliceblue;
    background-image: url("https://images.unsplash.com/photo-1591003659159-54a5579d395e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.part-2nd ul {
    list-style: none;
}
.left-2nd ul li {
    padding-bottom: 25px;
}
.best-seller{
    margin: 1em 9em 0em 10em;
    padding-right: -3em;
}
.best-seller .title{
    text-align: center;
    background-color: rgb(107, 193, 95);
}
.list-items {
    text-align: center;
    border-right: solid 1px gray;
}
#last-item {
    border-right: none;
}
.transport {
    margin: 1em 9em 1em 10em;
}
.transport .row .col {
    display: flex;
}
.transport .row .col i {
    padding-top: 0.5em;
    padding-right: 3px;
    font-size: 2em;
}
.transport .row .col .details {
    padding-right: 0;
}
.menu .title{
    padding: 1em 11em 1em 10em;
}
.menu-title-left{
    float: left;
    font-size: 1.5em;
    color: rgb(107, 193, 95);;
}
.menu-title-right{
    padding-left: 2.4em;
    float: right;
    display: flex;
    justify-content: space-between;
}
.menu-title-right p{
    padding-top: 1em;
    padding-right: 3em;
} 
.menu .contain {
    padding: 0em 5em 1em 5em;
}
.page-number{
    text-align: right;
    margin-left: 1.0em;
}
footer{
    padding: 1em 10em;
    background-color: darkslategray;
    color: whitesmoke;

}
footer p{
    font-size: 1.5em;
    padding-left: 2.5em;

}
.signature{
    text-align: left;
    padding-left: 5em;
}
.last-details i {
    font-size: 5em;
    padding-left: 1.2em;
}
.last-details span{
    padding-left: 6.5em;
}
.last-details p {
    font-size: 0.9em;
}
.contact p{
    font-size: 0.9em;
}
.contact span{
    margin-bottom: 1px;
}
.contact {
    padding-top: 3em;
}
.information{
    padding-top: 3em;
}
.information p{
    font-size: 0.9em;   
}
.information span{
    padding-bottom: 1.5em;
}
.about-us{
    padding-top: 3em;
}
.about-us span{
    padding-bottom: 1.5em;
}
.about-us p{
    font-size: 0.9em;
}
html{
    overflow-x:hidden;
    overflow-y: scroll;
}